<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="VarInfoParameterURI" value="http://agsys.cra-cin.it/tools/"/>
    <add key="StrategyParameterURI" value="http://components.biomamodelling.org/components/"/>
  </appSettings>  
</configuration>
